.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .note-content {
    display: flex;
    align-items: center;
    s,
    span {
      word-break: break-word;
    }
  }
  .btn-outline-danger {
    margin-left: 2px;
  }
}
