.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  color: #343a40;
  border-radius: 5px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 30px;
  .buttons {
    text-align: right;
    margin-left: 2px;
    flex-grow: 1;
    flex-basis: 0;
  }
  span {
    @media (max-width: 500px) {
      font-size: 20px;
    }
    line-height: 1;
    word-break: break-word;
  }
  @media (max-width: 500px) {
    padding-top: 0;
  }
}
