.navbar {
  height: 57px;
  .logo {
    color: aqua;
  }
}

.close:focus {
  border: none;
  outline: none;
}

h1 {
  background-color: rgb(36, 36, 39);
  margin: 0;
  font-size: 50px;
  color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  @media (max-width: 500px) {
    font-size: 25px;
    height: 57px;
  }
}

h2 {
  font-weight: 400;
  color: #e6e6e6;
  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.all-pages {
  position: relative;
  .absolute {
    width: 90%;
    position: absolute;
    right: 0;
    left: 5%;
  }
  .page-heiding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  hr {
    background-color: #7c7c7c;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  animation: showRoute 700ms forwards;
  @media (max-width: 1024px) {
    animation: showRouteMobile 700ms forwards;
  }
}
.item-exit {
  opacity: 0;
}
.item-exit-active {
  opacity: 0;
}

@keyframes showRoute {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showRouteMobile {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.pages-enter {
  opacity: 0;
}
.pages-enter-active {
  opacity: 1;
  animation: showPagesRoute 700ms forwards;
  @media (max-width: 1024px) {
    animation: showPagesRouteMobile 700ms forwards;
  }
}
.pages-exit {
  opacity: 0;
}
.pages-exit-active {
  opacity: 0;
}

@keyframes showPagesRoute {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showPagesRouteMobile {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.alert-danger,
.alert-success,
.alert-warning {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 80px;
  @media (max-width: 1100px) {
    width: 70%;
    left: 15%;
  }
  @media (max-width: 500px) {
    top: 61px;
    width: 90%;
    left: 5%;
  }
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
